@import "./component/color";
@import "./component/mediaquaries";
@import "./component/mixin";
@import "./component/reset";
@import "./component/typography";

body{
    background: url(/component/Background.png);
    background-color: rgba(0, 0, 255, 0.473);
    color: $body;
    nav{
        justify-content: space-between;
        display: flex;
        ul{
            display: flex;
        }

    }
    .text{
        @include jflex;
    }

    form{
        @include jflex;
        input{
            @include jint;
        &::placeholder{
            color: $body
        }
        }
        button{
            @include buts;
        }
    }
    .end{
        @include jflex;
    }
}
